.button-create {
    font: auto;
    border-radius: 1rem;
    background: #1b191a;
    color: rgb(245, 236, 236);
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none;
    width: 50vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    white-space: normal;
    word-wrap: break-word;

    
    
  }
  
  .button-create:hover,
  .button-create:active {
    background: #257e63;
    border-color: #ff4382;
  }
  