.task-item {
    width: 100%;
    min-width: 17.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .task-item_info h2 {
    font-size: 3rem;
    margin: 0 0 0.5rem 0;
    font-weight: normal;
    color: #9b8a2c;
    
  }

  .task-item_info h3 {
    margin: 0;
    font-size: 2rem;
    color: #9b8a2c;
  }

  .task-item_info p{
      margin-top: 1rem;
      color: #538a81;
  }
  
  .task-item:hover h2,
  .task-item:active h2,
  .task-item:hover h3,
  .task-item:active h3 {
    color: #e5e4f0;
  }
  
  