.task-item {
    margin: 1rem;
    width: calc(45% - 2rem);
    min-width: 17.5rem;
    text-align: center;
  }
  
  .task-item_info h2 {
    font-size: 3rem;
    margin: 0 0 0.5rem 0;
    font-weight: normal;
    color: #9b8a2c;
    
  }

  .task-item_info h3 {
    margin: 0;
    font-size: 2rem;
    color: brown;
  }

  .task-item_info p{
      margin-top: 1rem;
  }
  
  .task-item:hover h2,
  .task-item:active h2,
  .task-item:hover h3,
  .task-item:active h3 {
    color: #0d0e0d;
  }
  
  