.title {
  border: 0.2rem solid #d9d9d9;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;

}

  input::placeholder {
    color: rgb(17, 16, 16);
    width: 100%;
  }
  

