.form-box {
    border-radius: 2rem;
    background-color: #ad8e29;
    padding: 5rem;
  }
  h1 {
    border-bottom: 0.1rem solid white;
    color: #642a7a;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1rem;
    padding: 1rem;
    text-align: center;
  }


  form {
    background: rgb(177, 158, 158);
    border: 1rem solid #d1a4a4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 500px;
    padding: 1rem 2rem;
  }
 