*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.form-box h5{
    font-size: 35px ;
    text-align: center;
    color: #F55A00;
    margin: 0 0 .5vh 0;
}

.form-box input, textarea, select{
    display: block;
    width: 100%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0 ;
    border: solid 0.2vh black;
    font-size: 2em;
}


